<div class="store-layout">
  <nav>
    <div class="nav-wrapper  brown lighten-1">

      <a class="brand-logo logo" routerLink="/"><i class="material-icons">polymer</i> I K L O A .SHOP</a>
      <a class="sidenav-trigger" data-target="mobile-demo" routerLink="/"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down" id="nav-mobile">

        <li routerLinkActive="active">
          <a routerLink="/home">О нас</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/categories">Каталог</a>
        </li>
        <li>
          <a routerLink="/stokcs">Акции</a>
        </li>
        <li>
          <a routerLink="/delivery">Доставка</a>
        </li>
        <li>
          <a routerLink="/contacts">Контакты</a>
        </li>
        <li *ngIf="auth.isAuthenticated()">
          <a routerLink="/orders">Мои заказы</a>
        </li>
        <li>
          <a routerLink="/basket">Корзина</a>
        </li>
        <li
          *ngIf="!auth.isAuthenticated()"
          routerLinkActive="active"
        >
          <a routerLink="/login">Войти</a>
        </li>
        <li
          *ngIf="!auth.isAuthenticated()"
          routerLinkActive="active"
        >
          <a routerLink="/register">Регистрация</a>
        </li>


        <li *ngIf="auth.isAuthenticated()">
          <a (click)="auth.logout()" routerLink="/home">Выйти</a>
        </li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="">О нас</a></li>
    <li><a href="">Каталог</a></li>
    <li><a href="">Новинки</a></li>
    <li><a href="">Акции</a></li>
    <li><a href="">Доставка</a></li>
    <li><a href="">Контакты</a></li>
    <li><a href="">Войти</a></li>
    <li><a href="">Регистрация</a></li>
  </ul>

  <main class="content">
    <router-outlet></router-outlet>
  </main>


  <footer class="page-footer brown lighten-1">
    <div class="footer">
      <div *ngIf="categories$ | async as categories" class="col l4 offset-l2 s12">
        <h6>Каталог:</h6>
        <ul class="footer-list">
          <li *ngFor="let category of categories">
            <a class="grey-text text-lighten-3 footer-list__item"
               [routerLink]="['/categories', category._id]"
            >
              {{category.name}}
            </a>
          </li>
        </ul>
        <h6>Поддержка и сервис:</h6>
        <ul class="footer-list">
          <li><a [routerLink]="['/home']" class="grey-text text-lighten-3 footer-list__item">О нас</a></li>
          <li><a class="grey-text text-lighten-3 footer-list__item" routerLink="/contacts">Контакты</a></li>
          <li><a [routerLink]="['/delivery']" class="grey-text text-lighten-3 footer-list__item">Доставка</a></li>
          <li><a class="grey-text text-lighten-3 footer-list__item" routerLink="/stokcs">Акции</a></li>
        </ul>
      </div>
      <div class="contacts-block">
        <p class="">E-MAIL:</p>
        <b>ikloastore@gmail.com</b>
        <p class="">ТЕЛЕФОН ПОДДЕРКЖИ:</p>
        <b>+375445874554</b>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="footer-container">
        <span class="white-text">© 2019, ikloaStore</span>
        <a class="grey-text text-lighten-4" routerLink="/">Перейти на главную</a>
      </div>
    </div>
  </footer>
</div>
