<div class="content">
  <h2>Доставка и оплата</h2>
  <div class="info">
    <p>Оплатить свой заказ вы можете в разделе «Корзина», выбрав соответствующий товар.</p>
    <p>После оформления заказа вы будете перенаправлены на сайт сервиса Interkassa. Следуйте по инструкциям.</p>
    <p>Оплата осуществляется банковскими картами Visa или MasterСard. QIWI, WebMoney, Яндекс Деньги и многими другими
      способами.</p>
    <p>После покупки товара идет проверка администрации и в течении 48 часов ваш заказ будет обработан.</p>
    <p>Отправка заказов осуществляется в течение 7 рабочих дней после принятия их администратором.</p>
    <p>Доставка по Украине осуществляется компанией «Нова Пошта». Посылка доставляется в течение 1-3 рабочих дней с даты
      отправки заказа. Посылку следует забрать в течение 5-ти дней с момента доставки. По прошествии 5-ти дней компанией
      Новая Почта взымается доплата за хранение отправления.</p>
    <p>Доставка по России осуществляется службами доставки: «Почта России». «Почта России» осуществляет доставку до
      почтового отделения, индекс которого Вы укажите при оформлении заказа.</p>
    <p>Доставка за пределы Украины осуществляется компанией «Укрпочта» Посылка доставляется в течение 10-20 рабочих дней
      с даты отгрузки заказа.</p>
    <p><i>*Срок доставки будет зависеть от выбранных товаров.</i></p>
  </div>

</div>

