<div *ngIf="orders$ | async as orders; else loader">
  <div *ngIf="orders.length !== 0; else empty" class="collection">
    <a (click)="onSelect(order._id)"
       *ngFor="let order of orders"
       class="collection-item collection-item-icon pointer"
    >
      {{order.date | date}} | Заказ №{{order.order}}
    </a>
  </div>
</div>

<div #modal class="modal">
  <div *ngIf="order" class="modal-content">
    <h4 class="mb1">Заказ {{order.order}}</h4>
    <h5>Дата заказа: {{order.date | date}}</h5>
    <table>
      <thead>
      <tr>
        <th>Название</th>
        <th>Размер</th>
        <th>Количество</th>
        <th>Цена</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of order.list">
        <td>{{order.name}}</td>
        <td>{{order.size}}</td>
        <td>{{order.quantity}}</td>
        <td>{{(order.costWithDiscount ? order.costWithDiscount : order.cost) * order.quantity}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button (click)="onClose()" class="modal-action btn waves-effect">Закрыть</button>
  </div>
</div>


<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<ng-template #empty>
  <div class="center">
    Заказов нет
  </div>
</ng-template>

