.about__subtitle
  font-size: 1.3rem
  margin-bottom: 4rem
  color: #212121


.about
  padding: 5rem 3rem

.btn
  margin-top: 7rem
  margin-right: 1rem

.contacts-block
  text-align: right

.contacts-block p
  margin-bottom: 7px

.hero
  background: url("../../assets/img/people-2571611_1920.jpg") no-repeat
  background-size: 100%
  background-position: 20%
  height: 700px
  display: flex
  flex-direction: column
  align-items: center

  h2
    margin-top: 9rem
    margin-bottom: 0px

  a
    margin-right: 0.6rem

  .buttons
    margin-top: 7rem


