.container-fluid
  padding: 0 5rem

.card-content
  display: flex
  flex-direction: column
  padding: 1.5rem


.card-content span
  font-size: 1.5rem
  line-height: 32px
  font-weight: 300
  margin-bottom: 5px

.row
  margin-top: 2rem
  margin-bottom: 1rem

.card-image
  cursor: pointer











